h1{font-family: Times New Roman, sans-serif;}
h1 {font-weight:900}
h1 { text-align: center; }
h1 {text-decoration: underline;}
p {text-align: center;}
p {white-space: pre-wrap;}
h2{font-family: Times New Roman, sans-serif;}
h2 { text-align: center; }
h2 {text-decoration-color: #eead2d}
ul {text-align: center}